<!DOCTYPE html>
<html>
    <head>
        <title>Call Of Duty Mobile</title>
        <link rel="stylesheet" href="../static/css/Home.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

    </head>
    <body>
        <h1>Call of Duty Tournament</h1>
        <div>
            <a href="../template/Login.html"><h1>Login</h1></a>
            <a href="../template/Register.html"><h1>Register</h1></a>
            <a href="../template/Contact.html"><h1>Contact</h1></a>


        </div>
    </body>
</html>
