<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="../static/css/Login.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

    </head>
    <body >
       <div class="log">
        <form action="../template/dashboard.html">
            <label>UserName</label><br>
            <input type="text" required><br>
            <label>Password</label><br>
            <input type="password" required><br>
            <input type="submit">

        </form>
        
       </div>
      
    
    </body>
</html>