<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="../static/css/Register.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
        <div class="reg">
            <form action="../template/Login.html">
                <label>Enter your Profile name</label><br>
                <input type="text" required><br>
                <label>Enter your in Game UserName</label><br>
                <input type="text" required><br>
                <label>Enter your game id</label><br>
                <input type="number" required><br>
                <label>Enter your password</label><br>
                <input type="password" required><br>
                <label>Re-enter your password</label><br>
                <input type="password" required><br>
                <input type="submit">
                
                
            </form>
        </div>
    
    </body>
</html>